$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

@import "variables";
@import "shared/base";

html {
	min-width: 400px;
	background: url("https://apps4u-videochat.herokuapp.com/dist/assets/bg.png") top no-repeat;
	background-size: cover;
}

body {
	background: rgba(#000000, 0.1);
	padding: 0px 20px;
}

.navbar-brand {
	font-size: 1.5em;
	img {
		display: inline-block;
		
	}
}

#root {
	h2 {
		margin-top: 0px;
	}

	h4 {
		margin-top: 20px;
	}
}

.btn-action {
  outline: none;
  border: none;
}

span.green_class {
    color: green;
    font-weight: 600;
}
.main-wrap{
 display:none;
}

span.logo-right img {
    width: 200px;
    padding-top: 14px;
}
nav.navbar-header-right {
    float: right;
}

@import "main-window";
@import "call-window";
@import "call-modal";
